<!DOCTYPE html>
<html>

<head>
  <title>Pakistan COVID-19 Heat Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Josefin+Sans|Montserrat" />
</head>

<body>
  <div class="root">
    {{{ body }}}
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>