body {
  background: transparent;
}

path:hover {
  opacity: 0.6;
}

/* /// */
.heat-map-container {
  display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.heat-map { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.province-tooltip {
  display: none;
  padding: 4px 5px;
  background-color: #3f3b3b;
  color: #e5e2e2;
  border: 1px solid #e5e2e2;
  width: 200px;
  height: 80px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.province-tooltip > div {
  margin-top: 4px;
}

.province-tooltip-name {
  font-size: 14px;
  font-weight: 700;
}