body {
  background: #121212;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

path {
  fill: #121212;
}

path:hover {
  opacity: 0.5;
}

.heat-map-container {
	overflow: hidden; 
}

.heat-map {
  width: 1000px;
  height: 1000px;
  padding: 100px;
}

.province-tooltip {
  display: none;
  padding: 4px 5px;
  background-color: #3f3b3b;
  color: #e5e2e2;
  border: 1px solid #e5e2e2;
  width: 200px;
  height: 80px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.province-tooltip > div {
  margin-top: 4px;
}

.province-tooltip-name {
  font-size: 14px;
  font-weight: 700;
}

@media only screen and (max-device-width: 500px) {
  .heat-map {
    width: 400px;
    height: 600px;
    padding: 20px 20px 0px 0px;
  }

  .province-tooltip {
    width: 110px;
    height: 50px;
    font-size: 9px;
  }

  .province-tooltip-name {
    font-size: 11px;
  }
}
